My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        192,
        0
      ],
      "id": "d169c129-9db2-49b9-af06-925e31eb2659",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "DCjUaH3Hm027xJ9g",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.snippet }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        432,
        0
      ],
      "id": "8bc93fd7-4c77-47a4-83f0-56aaacbd6c20",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        288,
        160
      ],
      "id": "e4574fc3-8949-4e5b-9cae-086b05e5760c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "0yoB55R1g6U4BpiT",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "siddharthabrahmnapally@gmail.com",
        "subject": "welcome",
        "emailType": "text",
        "message": "=hello this is automatiomn {{ $json.output }}",
        "options": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        784,
        16
      ],
      "id": "8516adb8-add9-4390-9d63-4a62772635e3",
      "name": "Send a message",
      "webhookId": "e29ff951-ca68-4be7-90a9-30d9892d93c9",
      "credentials": {
        "gmailOAuth2": {
          "id": "DCjUaH3Hm027xJ9g",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cc04c04d-5e34-43d2-b638-334e294728bc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3ed717c4cc85a3cbc8058fd4e97eb06815e4a9d9ee01b3be2785043b7cc80d08"
  },
  "id": "T8Agd8diSg4FWI38",
  "tags": []
}